In [1]:
from stellargraph.datasets import IAEmailEU

In [2]:
dataset = IAEmailEU()

In [3]:
graph, edges = dataset.load()

In [4]:
edges

       source target      time
0         582    364         0
1         168    472      2797
2         168    912      3304
3           2    790      4523
4           2    322      7926
...       ...    ...       ...
332329    324    367  45401817
332330    790    126  45402441
332331    790    126  45403709
332332    782    126  45404903
332333    685    643  45405138

[332334 rows x 3 columns]